@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,500&display=swap');

.title{
    text-align: center;
    color: rgb(56, 56, 56);
    font-size: 2.5rem;
    margin-left: 50px;
    font-family: 'Dancing Script', cursive;
}

main{
    font-family: 'Poppins', sans-serif;;
}
.title a{
    color: rgb(56, 56, 56);
}

.main_nav{
    background-color: antiquewhite;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons img{
    width: 25px;
    margin: 3px;
}

.icons{
    width: 40%;
    display: flex;
    justify-content: end;
    padding: 20px;

}


.author_name{
    text-align: end;
}

a{
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.card{
    border-radius: 10px;
    margin: 10px 5px;
}

.card a{
    color: rgb(56, 56, 56);
}

.card:hover{
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(133, 133, 133, 0.39);
}

.container p#content{
    padding: 10px 80px;
}


.page_contain{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
}

a.btn{
    height: 25px;
    font-size: x-small;
}

.comments li{
    list-style: none;
    border: 1px solid black;
    border-radius: 5px;
    height: auto;
    width: 80vw;
}


.comment{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.comment-form form{
    padding: 0px 0px 10px 20px;
    display: flex;
}

.comment-form input[type="text"]{
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.btn-success{
    width: 80px;
    margin-left: 10px;
    
}

#delete:hover{
    color: red;
}

.btn.account{
    height: unset;
    font-size: small;
    margin-right: 10px;
    
}

.login-form{
    width: 70%;
}

.circle{
    border: 1px solid rgba(0,0,0,.125);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover{
    box-shadow: 0 0 10px 5px rgba(133, 133, 133, 0.39);
}

.circle img{
    height: 60px;
}

.custom-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card:hover{
    box-shadow: none;
}

@media only screen and (max-width: 450px){
    
.main_nav{
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: center;
    align-items: center;
}

.title{
    margin-left: unset;
    margin-top: 20px;
}

.icons{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.icons img{
    width: 30px;
    padding: 2px;
}


.social{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.login-form{
    width: 25%;
}

.btn.account{
    width: 100%;
    margin-right: unset;
}

    
}

@media only screen and (max-width: 300px){

    .login-form span{
        font-size: small;
    }

}