{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container p-4 d-flex justify-content-center">
    <form method="post" class="d-flex flex-column justify-content-center">
        {% csrf_token %}
        {{form | crispy}}
        <input class="btn btn-outline-dark mx-auto" type="submit" value="Post" style="width: 100%;">
    </form>
</div>

<script>
    title = document.getElementById("id_title")
    content = document.getElementById("id_content")
    title.setAttribute("placeholder", "Write the title here")
    content.setAttribute("placeholder", "Write content of the post here")
 </script>
{% endblock %}