{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row row-cols-md-3">
    {% for post in page_obj %}
        <div class="col my-2">
        <div class="card h-100" style="max-width: 30rem; min-width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content_thumb}}</p>
                    <a class="stretched-link" href="{% url 'post_detail' post.id %}"></a>
                </div>
                <div class="card-footer">
                    <p class="author_name">by {{post.author}}</p>
                    <p class="date author_name">{{post.date_added | date}}</p>
                </div>  
        </div>
    </div>
    {% endfor %}
    {% if user.is_authenticated and user.is_staff and not page_obj.has_next %}
    <div class="col my-2">
        <div class="card h-100 custom-card" style="max-width: 30rem; min-width: 15rem;">
            <a href="admin/pages/post/">
            <div class="circle">
                <img src="{% static 'images/plus.svg' %}" alt="add_post">
            </div>
            </a>
        </div>
    </div>
    {% endif %}
    </div>
{% if page_obj.has_other_pages %}
<div class="page_contain">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-sm btn-outline-dark" href="?page=1">&laquo; first</a>
            <a class="btn btn-sm btn-dark" href="?page={{ page_obj.previous_page_number }}">&#8672;</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-sm btn-dark" href="?page={{ page_obj.next_page_number }}">&#8674;</a>
            <a class="btn btn-sm btn-outline-dark" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
</div>
{% endif %}
{% endblock %}