{% extends 'base.html' %}

{% block content %}

<div class="container p-4">
   <div class="d-flex align-items-center">
   <h4><strong style="font-family: 'Dancing Script', cursive; font-size: larger;"> By {{post.author}}</strong></h4>
   {% if user.is_authenticated and user.is_staff %}
         <a class="ms-4 btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete Post</a>
   {% endif %}
   </div>
   <p id="content">
      {{post.get_content|linebreaksbr}}
   </p>
</div>

<div class="container comments-container">
   <h5><strong>Comments</strong></h5>
   <ul class="comments">
      {% for comment in comments %}
      {% if post.id == comment.post.id %}
      <li>
         <div class="comment">
            <div>
            <strong>{{comment.user}}</strong> &#8226; {{comment.text}}
            </div>
            {% if comment.user == request.user %}
            <a id="delete" class="btn btn-outline-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
            {% endif %}
         </div>
      </li>
      {% endif %}
      {% endfor %}
   </ul>
   <div class="container comment-form">
      {% if user.is_authenticated %}
      <form method="POST">
         {% csrf_token %}
         {{form}}
         <input class="btn btn-success" type="submit" value="Submit">
      </form>
      {% else %}
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <p style="color: red;">Login to write comments.</p>
      <span style="font: bold;"><a href="{% url 'login' %}?next={{request.path}}">Login</a> | <a href="">Sign Up</a></span>
      </div>
      {% endif %}
   </div>
   
</div>


<!-- Modal -->
<div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="delete_modalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         Do you want to delete this post?
       </div>
       <div class="modal-footer">
         <a class="btn btn-dark" data-bs-dismiss="modal">No</a>
         <a class="btn btn-danger" href="{% url 'delete_post' post.id %}">Yes</a>
       </div>
     </div>
   </div>
 </div>

<script>
   text = document.getElementById("id_text")
   text.setAttribute("placeholder", "Write comment here.")
</script>
   
{% endblock %}